body{
    background-color: hsl(212, 45%, 89%);
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center; 
}

div{

    width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h1,
p{
    font-family: "Outfit", sans-serif;
}

h1{
    font-weight: 700;
    font-size: 1.5em;
}

p{
    font-weight: 400;
    font-size: 15px;
    color: gray;
    line-height: 25px;
    margin-top: 0;
}

.card img{
    border-radius: 10px;
}

@media screen and (max-width:996px) {
    body{
        width: 375px;
    }
    
}